<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/pushkarsule/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="pushkarsule" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>